<div id="homepage">
    <div id="container">
        <div id="left">
            <h1>Hi, I'm Amit</h1>
            <p>Enthusiastic and highly motivated IT fresher with a solid foundation in key technologies including 
                Java, Spring Boot, HTML, CSS, JavaScript, React, SQL, and MySQL. Possesses a strong aptitude for web 
                development and software engineering.
            </p>
            <div id="locationdiv">
                <img id="location" src="assets/location.png" alt="location">
                <p>Mumbai, India</p>
            </div>
            <div id="locationdiv">
                <img id="location" src="assets/blink.gif" alt="blink">
                <p>Available for new projects</p>
            </div>
            <div id="social">
                <a href="https://github.com/Welcometocodeamit" target="_blank"><img class="socialicon" src="assets/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/amit-kumbhar-0a65a2272" target="_blank"><img class="socialicon" src="assets/linkedin.png" alt="linkedin"></a>
            </div>

        </div>

        <div id="right">
            <div><img id="pp" src="assets/amit.jpg" alt="amit"></div>
            <div id="overlay"></div>
        </div>

    </div>
</div>
