<div id="container">
    <div id="navbar">
        
        <div id="rightdiv">
            <h3>&#10094;/Amit_Kumbhar&#10095;</h3>
        </div>

        <div id="leftdiv">
            <!-- <a href="/about"><button class="navbtn" id="about">About</button></a>
            <button class="navbtn">Skills</button>
            <button class="navbtn">Experience</button>
            <button class="navbtn">Projects</button>
            <button class="navbtn">Contact me</button>
            <div ></div> -->
            <a href="assets/cv.pdf" download="cv.pdf" id="anchor"><button id="dc">Download CV</button></a>
        </div>
    </div>
</div>

