#projectcard{
    border-radius: 12px;
    background: var(--gray-50, #F9FAFB);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
    margin: 20px 0px;
    width: 300px;
    padding: 5px 20px;
}

.tech{
    border-radius: 12px;
    background: var(--gray-200, #E5E7EB);
    width: fit-content;
    padding: 0px 20px;
    font-weight: 600;
    margin: 5px 5px;
}

#techs{
    display: flex;
    flex-wrap: wrap;
}

#links img{
    height: 30px;
    padding: 8px;
}