<div id="projectcard">
    <h4>{{heading}}</h4>
    <p>{{data1p1}}</p>
    <p>{{data1p2}}</p>
    <p>{{data1p2}}</p>
    <div id="techs">
        <div class="tech">{{skill101}}</div>
        <div class="tech">{{skill102}}</div>
        <div class="tech">{{skill103}}</div>
        <div class="tech">{{skill104}}</div>
    </div>
    <div id="links">
        <a href={{github1}} target="_blank"><img src="assets/github.png" alt=""></a>
        <a href={{link1}} target="_blank"><img src="assets/link.png" alt="link"></a>
    </div>
</div>
