#projects{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects h3{
    text-align: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
}

