<div id="projects">
    <div id="tag"><p id="tag">Projects</p></div>
    <h3>Some of the noteworthy projects I have built:</h3>
    <div id="cards">
        <app-projectcard [heading]="heading1" [data1p1]="data1p1" [data1p2]="data1p2" [data1p3]="data1p3" [github1]="github1" [link1]="link1" [skill101]="skill101" [skill102]="skill102" [skill103]="skill103" [skill104]="skill104"></app-projectcard>

        <app-projectcard [heading]="heading2" [data1p1]="data2p1" [data1p2]="data2p2" [data1p3]="data2p3" [github1]="github2" [link1]="link2" [skill101]="skill201" [skill102]="skill202" [skill103]="skill203" ></app-projectcard>

        <app-projectcard [heading]="heading3" [data1p1]="data3p1" [data1p2]="data3p2" [data1p3]="data3p3" [github1]="github3" [link1]="link3" [skill101]="skill301" [skill102]="skill302"></app-projectcard>

        <app-projectcard [heading]="heading4" [data1p1]="data4p1" [data1p2]="data4p2" [data1p3]="data4p3" [github1]="github4" [link1]="link4" [skill101]="skill401"></app-projectcard>

        
    </div>
</div>
