<div id="contact">
    <div id="tag"><p>Get in touch</p></div>
    <p>What’s next? Feel free to reach out to me if you're looking for a developer, have a query, or simply want to connect.</p>
    <div class="email"><img src="assets/email.png" alt="email"><h3>kumbharamit98@gmail.com</h3></div>
    <div class="email"><img src="assets/phone.png" alt="phone"><h3>+91 8879899584</h3></div>
    <div id="social">
        <div><p>You may also find me on these platforms!</p></div>
        <div id="socialicon">
            <a href="https://github.com/Welcometocodeamit" target="_blank"><img src="assets/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/amit-kumbhar-0a65a2272" target="_blank"><img src="assets/linkedin.png" alt="linkedin"></a>
        </div>
    </div>
</div>
