<div id="skills">
    <div id="tag"><p>Skills</p></div>

    <div id="headingdiv"><p id="heading">The skills, tools and technologies I am really good at:</p></div>

    <div id="contents">
        <div class="content">
            <img class="icon" src="assets/html.png" alt="js">
            <p class="iconheading">HTML</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/css.png" alt="js">
            <p class="iconheading">CSS</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/javascript.png" alt="js">
            <p class="iconheading">JavaScript</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/typescript.png" alt="js">
            <p class="iconheading">TypeScript</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/react.png" alt="js">
            <p class="iconheading">React</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/java.png" alt="js">
            <p class="iconheading">Java</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/springboot.png" alt="js">
            <p class="iconheading">Spring Boot</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/sql.webp" alt="js">
            <p class="iconheading">MySQL</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/mongodb.png" alt="js">
            <p class="iconheading">Mongo DB</p>
        </div>

        <div class="content">
            <img class="icon" src="assets/git.png" alt="js">
            <p class="iconheading">Git</p>
        </div>
    </div>
</div>
