@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

#tag{
    border-radius: 12px;
    background: var(--gray-200, #E5E7EB);
    width: fit-content;
    padding: 0px 20px;
    margin: auto;
    font-weight: 600;
}